/*.flex {
  display : inline-flex
}*/
body {
  background-color: #8FBC8F;
  color: #333366;
  font-weight: bold;
  font-style: italic;
}

#submission_form {
  display: flex;
  flex-direction: row;
}

#formSubmitBtn {
    margin-right: 10px;
}

.form-div {
  margin-left: 20px;
  padding: 100px 0 0 10px;
}

.form-button {
  padding: 129px 0 0 10px;
  margin-left: 40px;
}

@media screen and (max-width: 600px) {
  table td: before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
